<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script>
    function corsTest(){
        fetch("http://localhost:8081/api/users",{
            method:"GET",
            headers:{
                "Content-Type":"text/xml"
            }
        })
            .then(res=>res.json().then(function (data) {
                console.log(data);
            }))

    }
</script>


<body>
<button name="corsTest" onclick="corsTest()">corsTest</button>
</body>
</html>